# General Python ignored files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/
*.egg

# Logs
Sigourney/logs/

# Ignore everything in the static folder
static/*

# But not these directories
!static/css/
!static/js/

# Ignore all files in these directories
static/css/*.*
static/js/*.*

# Don't ignore .css and .js source files
!static/css/*.css
!static/js/*.js

# Ignore all thumbnails
static/thumbnails/*

# Don't ignore the fallback image
!static/thumbnails/fallback.png

# Environment variables and secrets
.env