body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

p, span, a, body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

nav {
    align-items: center;
    background: rgba(22, 22, 23, .8);
    display: flex;
    justify-content: center;
    padding: 1rem;
    transition: background 0.2s ease-in-out;
}

.dropdown-extended {
    background: rgba(22, 22, 23, 1);
}

nav ul {
    color: rgba(255, 255, 255, 0.8);
    max-width: 1200px;
}

nav ul .search-icon {
    cursor: pointer;
}

nav ul li {
    align-items: center;
    color: inherit;
    display: flex;
    margin: 0 1.25rem;
    transition: color 0.2s ease-in-out;
}

nav ul li:hover {
    color: rgba(255, 255, 255, 1);
}

nav ul li a {
    color: inherit;
    line-height: 0;
}

nav ul li svg {
    height: 1.25rem;
    width: 1.25rem;
}

.hamburger-menu {
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: #333;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: row;
    }
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li a {
    text-decoration: none;
}

.nav-dropdown {
    background: transparent;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3rem);
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    transition: height 0.2s ease-in-out;
    z-index: 10;
}

.nav-dropdown-hidden {
    height: 0;
}

.nav-dropdown-hidden .search-area {
    background: rgba(22, 22, 23, 0.8) !important;
}

.nav-dropdown .search-area {
    align-items: center;
    background: rgba(22, 22, 23, 1);
    box-sizing: border-box;
    display: flex;
    height: 15%;
    justify-content: center;
    opacity: 100;
    padding: 1rem;
    width: 100%;
    transition: background 0.2s ease-in-out;
}

.nav-dropdown-hidden .search-area input[type=search] {
    opacity: 0 !important;
    transition: opacity 0.2s ease-in-out !important;
}

.nav-dropdown .search-area input[type=search] {
    border-color: transparent;
    border-radius: 10px;
    box-shadow: none;
    font-size: 20px;
    max-width: 1200px;
    opacity: 100;
    outline: none;
    padding: 1rem;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
}

.nav-dropdown .blurred-area {
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 85%;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
    padding: 1rem;
}

.banner-card {
    position: relative;
}

.banner-card:hover img {
    filter: grayscale(1);
}

.banner-card img {
    height: 18rem;
    object-fit: cover;
    transition: filter 0.5s ease-in-out;
    width: 100%;
}

@media (max-width: 768px) {
    .banner-card img {
        height: auto;
    }
}

.banner-card h2 {
    bottom: 1rem;
    color: white;
    font-size: 3rem;
    margin: 0;
    position: absolute;
    right: 1rem;
}

.hidden {
    display: none;
}

.archive-grid {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .archive-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.archive-item {
    align-items: center;
    cursor: pointer;
    display: flex;
}

.archive-item a {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.archive-item a > div {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.archive-item svg {
    height: 100%;
    position: absolute;
    width: 3rem;
}

.archive-item-img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
}