<!DOCTYPE html>
<html>
    <head>
        {%include "head.html" %}       
    </head>
    <body>
        {% include "header.html" %}
        <h1>Video Gallery</h1>
        <h1>Video Gallery</h1>
        <h1>Video Gallery</h1>
        <h1>Video Gallery</h1>
        <h1>Video Gallery</h1>
        <h1>Video Gallery</h1>
        <h1>Video Gallery</h1>
        <h1>Video Gallery</h1>
        <h1>Video Gallery</h1>
        <h1>Video Gallery</h1>
        <h1>Video Gallery</h1>
        <h1>Video Gallery</h1>
        <a href="films">Films</a>
        <a href="tv">TV</a>
        <a href="videos">Videos</a>

        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>