<!DOCTYPE html>
<html>
    <head>
        {%include "head.html" %}       
    </head>
    <body>
        {% include "header.html" %}
        <main>
            <h1>{{ title }}</h1>
            <ul>
                {% for show in shows %}
                    <li>
                        <a href="{{ show.slug }}">
                            <div class="banner-card">
                                <img src="{{ show.thumbnail }}" onerror="this.onerror=null;this.src='/static/thumbnails/fallback.png';">
                                <h2>{{ show.title }}</h2>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </main>

        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>