<!DOCTYPE html>
<html>
    <head>
        {%include "head.html" %}
    </head>
    <body>
        {% include "header.html" %}
        <main>
            <h1>{{ title }}</h1>
            <div class="archive-grid">
                {% for episode in episodes %}
                    <div class="archive-item">
                        <a href="{{ episode.video }}">
                            <img class="archive-item-img" src="{{ episode.thumbnail }}"
                                onerror="this.onerror=null;this.src='/static/thumbnails/fallback.png';">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white">
                                <path fill-rule="evenodd"
                                    d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z"
                                    clip-rule="evenodd" />
                            </svg>
                            <p>{{ episode.title }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </main>

        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>